/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1;
    background-color: #f7fafc; /* very light gray for body */
    color: black; /* general text color */
    padding: 20px; /* general padding for the body */
}

/* Header, section, and footer styles */
header, footer {
    background-color: #ffffff; /* white background */
    border: 2px solid #e0e0e0; /* subtle border */
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px; /* spacing between sections */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* subtle shadow for depth */
}
section:first-of-type ol{
    border: 1px solid #e0e0e0;
    padding-top: 15px;
}
footer h2 {
    margin-top: 0; /* remove default margin */
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #e0e0e0; /* subtle gray border for table */
}

th, td {
    padding: 10px 15px;
    text-align: left;
}

th {
    background-color: #f5f5f5; /* very light gray for table header */
}

tbody tr:nth-child(odd) {
    background-color: #e4dede; /* very light gray for odd rows */
}

tbody tr:nth-child(even) {
    background-color: #daf1f0; /* white for even rows */
}
th, td {
    font-family: "Courier";
}
/* List styles */
ol {
    list-style-type: upper-roman; 
}

ol > li {
    margin-bottom: 15px;
}

p:first-of-type {
    border: 1px solid #e0e0e0; /* subtle gray border for paragraphs in section */
    border-radius: 10px; 
    width: max-content;
    padding: 10px; /* added padding for paragraphs */
    margin-left: auto;  /* auto margin to center the block */
    margin-right: auto; /* auto margin to center the block */
}

li.title{
    list-style-type: upper-latin;

}