body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.info-section {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

h2, h3, h4 {
  margin: 0;
}

h2 {
  color: #444;
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  color: #555;
  font-size: 20px;
  margin-bottom: 8px;
}

h4 {
  color: #666;
  font-size: 18px;
  margin-bottom: 12px;
}

p {
  margin-bottom: 10px;
}

ol {
  padding-left: 20px;
}

.course-links {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.course-links h2 {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 22px;
  color: #555;
}

.course-links ol {
  padding-left: 25px;
}

.course-links li {
  margin-bottom: 10px;
}

.course-links a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

.course-links a:hover {
  color: #0056b3;
  text-decoration: underline;
}
